body {
    background-color: #a096f8;
    margin-top: 2cm;
    margin-bottom: 3cm;
    margin-left: 3cm;
    margin-right: 3cm;
}
h1 {
color: yellow;
font-family: 'Times New Roman', Times, serif;
size: 100px;
font-weight: bold;
text-decoration: underline;
text-align: center;
}
h2{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    size: 20px;
    text-align: left;
    text-decoration: overline;
}
p{
background-color: #AAAAFF;
color: black;
size: 12px;
text-align: justify;
}
h3{
font-style: italic;
color: #00007a;
font-family: Georgia, 'Times New Roman', Times, serif;
}   
table{
width: 30cm;
border: 2px solid #ff0000; 
text-align: center;
border-spacing: 0cap;  
}
